<!doctype html>
<html>
<head>
  <!-- ... -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link href="/tailwind.css" rel="stylesheet"> -->
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <!-- ... -->
  hello from tailwind brader
  <div class="bg-gray-50">I can't believe it's not white.</div>
  <div class="bgred">kena red.</div>
</body>
</html>