<!doctype html>
<html>
<head>
  <!-- ... -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link href="/tailwind.css" rel="stylesheet"> -->
  <!-- <link href="/css/style.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
<!-- <script src="/node_modules/jquery/dist/js/jquery.min.js"></script> -->
<!-- <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
  <!-- <link rel="stylesheet" href="./node_modules/bootstrap/bootstrap.min.css"> -->
</head>
<body>
  <!-- ... -->
  hello from tailwind brader
  <div class="bg-red-50">I can't believe it's not aaa.</div>
  <div class="bgred">kena red.</div>

  <div class="btn btn-success">ayam</div>
</body>
</html>